/target
/models
/artifacts/*
!/artifacts/.gitkeep
__pycache__/
*.pyc
dist/
*.egg-info/
.venv/
.idea/
.DS_Store
data/.DS_Store
certs/
mcp-template-generated-5/
mcp-template-generated-6/
data/gold*
data/silver*
data/bronze*
data/inv*
*gold_*
*silver_*
*bronze_*
profiles/*.local.toml
profiles/*.private.toml
other
/other/
TO_DO.md
docs/
